/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* Variables */
:root {
    /* ### Colors: */
    /* Primary */
    --Linear-Gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    /* Neutral */
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    /* --------------------------------- */
    /* ### Animations: */
    /* # Transition */
    --transition: ease-in-out 300ms;
}
/* GLobal Rules */
a {
    color: black !important;
    text-decoration: none !important;
}
ul {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
p {
    margin: 0 !important;
}
/* Body & Html */
html,
body {
    min-height: 100vh;
    position: relative;
    font-size: 15px !important;
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif !important;
}
/* Start App */
/* Start Part Head */
.app {
    padding: 100px 0;
    min-height: 100vh;
    position: relative;
}
.app::after,
.app::before {
    z-index: -1;
    position: absolute;
}
.app::after {
    top: 0;
    right: 0;
    content: url(../images/bg-top.svg);
}
.app::before {
    left: 0;
    bottom: 0;
    content: url(../images/bg-bottom.svg);
}
.app .head {
    margin-bottom: 60px;
    text-align: center;
}
.app .head h2 {
    margin-bottom: 15px;
    color: var(--Grayish-Blue);
}
.app .head .select {
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}
.app .head .select span {
    color: var(--Light-Grayish-Blue);
}
.app .head .select .btn-select {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-image: var(--Linear-Gradient);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
}
.app .head .select .btn-select .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--Very-Light-Grayish-Blue);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.app .head .select .btn-select.monthly {
    justify-content: end;
}
.app .head .select .btn-select.annually {
    justify-content: start;
}
/* End Part Head */
/*  */
.app .pricing-components {
    display: flex;
    padding: 40px 0;
    align-items: center;
    flex-wrap: wrap;
}
.app .pricing-components .pricing-component {
    padding: 60px 20px;
    text-align: center;
    width: calc(100% / 3);
    background-color: var(--Very-Light-Grayish-Blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 20px -10px var(--Dark-Grayish-Blue);
}
.app .pricing-components .pricing-component h4,
.app .pricing-components .pricing-component .price {
    margin-bottom: 10px;
}
.app .pricing-components .pricing-component h4 {
    color: var(--Dark-Grayish-Blue);
}
.app .pricing-components .pricing-component .price {
    display: none;
    column-gap: 5px;
    align-items: center;
    justify-content: center;
}
.app .pricing-components .pricing-component .price.annually.active {
    display: flex;
}
.app .pricing-components .pricing-component .price.monthly.active {
    display: flex;
}
.app .pricing-components .pricing-component .price span {
    font-size: 1.2rem;
}
.app .pricing-components .pricing-component .price h1 {
    font-size: 3rem;
}
.app .pricing-components .pricing-component .features {
    margin-bottom: 20px;
}
.app .pricing-components .pricing-component .features ul li {
    padding: 15px 0;
    border-top: solid 1px var(--Grayish-Blue);
}
.app .pricing-components .pricing-component .features ul li:last-of-type {
    border-bottom: solid 1px var(--Grayish-Blue);
}
.app .pricing-components .pricing-component button.btn-learn-more {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    color: var(--Very-Light-Grayish-Blue);
    background-image: var(--Linear-Gradient);
}
.app .pricing-components .professional-component {
    padding-top: 100px;
    color: var(--Very-Light-Grayish-Blue);
    background-image: var(--Linear-Gradient);
}
.app .pricing-components .professional-component h4 {
    color: var(--Very-Light-Grayish-Blue);
}
.app .pricing-components .professional-component .features ul li {
    border-color: var(--Very-Light-Grayish-Blue);
}
.app .pricing-components .professional-component button.btn-learn-more {
    background-image: none;
    color: hsl(237, 63%, 64%);
    background-color: var(--Very-Light-Grayish-Blue);
}
@media (max-width: 768px) {
    .app .pricing-components {
        row-gap: 20px;
    }
    .app .pricing-components .pricing-component {
        width: 100%;
    }
    .app .pricing-components .professional-component {
        padding-top: 60px;
    }
}
/*  */
/* End App */